// Variables

$white: #fff !default;
$gray-100: #E1EDDF !default;
$gray-200: #A0C8AF !default;
$gray-300: #8CBCA7 !default;
$gray-400:#78AEA1 !default;
$gray-500: #64A19D !default;
$gray-600: #57868E !default;
$gray-700: #49697A !default;
$gray-800: #3D4F67 !default;
$gray-900: #303753 !default;
$black: #57868E !default;

$primary: #64a19d !default;
